name: Flake Checks
on:
  pull_request:
    paths: ["**.nix", flake.lock, flake.nix, .github/workflows/check.yml]
  push:
    paths: ["**.nix", flake.lock, flake.nix, .github/workflows/check.yml]
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
permissions:
  contents: read
  id-token: write
concurrency:
  group: check-${{ github.event_name == 'workflow_call' && github.run_id || github.ref }}
  cancel-in-progress: true
jobs:
  flake-check:
    name: Check (${{ matrix.system }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            system: x86_64-linux
          - os: macos-latest
            system: aarch64-darwin
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          github-token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
      - run: nix flake check --accept-flake-config --no-allow-import-from-derivation --show-trace
